{% extends 'app/base/base.html' %}
{% block content %}
    {% load static %}
    <section class="page-content">
        <!-- PAGE-BANNER START -->
        <div class="page-banner-area  margin-bottom-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-banner-menu">
                            <h2 class="page-banner-title">Register</h2>
                            <ul>
                                <li><a href="{% url 'index' %}">home</a></li>
                                <li>Register</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <div class="new-customers">
                    <h2 class="login-title">Create Account</h2>
                    <div class="row">
                        <div class="col-sm-12">
                            <input class="custom-form" name="username" type="text" placeholder="Username"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input class="custom-form" name="email" type="text" placeholder="Email"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input class="custom-form" name="password" type="password" placeholder="Password"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input class="custom-form" name="confirm_password" type="password"
                                   placeholder="Confirm Password"/>
                        </div>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" checked="checked" name="create-account"/>
                            Sign up for our newsletter!
                        </label>
                        <label>
                            <input type="checkbox" name="billing-address"/>
                            Receive special offers from our partners!
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="submit" class="custom-form custom-submit no-margin" value="register"/>
                        </div>
                        <div class="col-sm-6">
                            <input type="submit" class="custom-form custom-submit no-margin" value="clear"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- LOGIN-AREA END -->
        <!-- BRAND-LOGO-AREA START -->
        <div class="brand-logo-area margin-bottom-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-12">
                        <div class="brand-brief">
                            <h2 class="border-left-right">they are with us</h2>
                            <p>It is a long established fact that a reader will be distracted by the readable content of
                                a page when looking at its layout. </p>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-12">
                        <div class="brand-logo fix">
                            <div class="single-logo">
                                <img src="{% static 'app/img/brand/1.png' %}" alt=""/>
                            </div>
                            <div class="single-logo">
                                <img src="{% static 'app/img/brand/2.png' %}" alt=""/>
                            </div>
                            <div class="single-logo">
                                <img src="{% static 'app/img/brand/3.png' %}" alt=""/>
                            </div>
                            <div class="single-logo">
                                <img src="{% static 'app/img/brand/4.png' %}" alt=""/>
                            </div>
                            <div class="single-logo">
                                <img src="{% static 'app/img/brand/5.png' %}" alt=""/>
                            </div>
                            <div class="single-logo">
                                <img src="{% static 'app/img/brand/6.png' %}" alt=""/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- BRAND-LOGO-AREA END -->
    </section>
{% endblock content %}