{% extends 'app/base/base.html' %} {% load socialaccount %}
{% providers_media_js %}
{% block content %}
    {% load static %}
    <body>


    {#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">#}
    {#    <link#}
    {#            rel="stylesheet"#}
    {#            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"#}
    {#    />#}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <section class="page-content">
        <!-- PAGE-BANNER START -->
        <div class="page-banner-area  margin-bottom-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-banner-menu">
                            <h2 class="page-banner-title">Register</h2>
                            <ul>
                                <li><a href="{% url 'index' %}">home</a></li>
                                <li>Register</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <div class="new-customers">
                    <h2 class="login-title">Create Account</h2>
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" class="custom-form" name="first_name" placeholder="First Name"/>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="custom-form" name="last_name" placeholder="Last Name"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input class="custom-form" name="username" type="text" placeholder="Username"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input class="custom-form" name="email" type="text" placeholder="Email"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input class="custom-form" name="password" type="password" placeholder="Password"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input class="custom-form" name="confirm_password" type="password"
                                   placeholder="Confirm Password"/>
                        </div>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" checked="checked"/>
                            Sign up for our newsletter!
                        </label>
                        <label>
                            <input type="checkbox" name="billing-address"/>
                            Receive special offers from our partners!
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="submit" class="custom-form custom-submit no-margin" value="register"/>
                        </div>
                        <div class="col-sm-6">
                            <input type="submit" class="custom-form custom-submit no-margin" value="clear"/>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row g-2 mt-2">
                <ul>
                    <form action="/accounts/google/login/" method="post">
                        {% csrf_token %}
                        <button class="btn btn-outline-google-plus btn-sm d-block w-100" href="#">
                            <li><i class="sp-google">
                                Sign-Up With Google
                            </i></li>
                        </button>
                    </form>
                </ul>
                <ul>
                    <form action="/accounts/github/login/" method="post">
                        {% csrf_token %}
                        <button class="fab fa-github-square me-2" data-fa-transform="grow-8" href="#">
                            <li><i class="">
                                Sign-Up With GitHub
                            </i></li>
                        </button>
                    </form>
                </ul>
            </div>
        </div>

        <style>

            element.style{
                display: flex;
                align-items: center;
                justify-content: space-around;
                gap: 10px;
            }
        </style>


        </div>

        <!-- LOGIN-AREA END -->
        <!-- BRAND-LOGO-AREA START -->
        <div class="brand-logo-area margin-bottom-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-12">
                        <div class="brand-brief">
                            <h2 class="border-left-right">they are with us</h2>
                            <p>It is a long established fact that a reader will be distracted by the readable content of
                                a page when looking at its layout. </p>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-12">
                        <div class="brand-logo fix">
                            <div class="single-logo">
                                <img src="{% static 'app/img/brand/1.png' %}" alt=""/>
                            </div>
                            <div class="single-logo">
                                <img src="{% static 'app/img/brand/2.png' %}" alt=""/>
                            </div>
                            <div class="single-logo">
                                <img src="{% static 'app/img/brand/3.png' %}" alt=""/>
                            </div>
                            <div class="single-logo">
                                <img src="{% static 'app/img/brand/4.png' %}" alt=""/>
                            </div>
                            <div class="single-logo">
                                <img src="{% static 'app/img/brand/5.png' %}" alt=""/>
                            </div>
                            <div class="single-logo">
                                <img src="{% static 'app/img/brand/6.png' %}" alt=""/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- BRAND-LOGO-AREA END -->
    </section>
{% endblock content %}

</body>