{% extends 'app/base/base.html' %}
{% load static %}
{% block content %}
    <title>{% block title %}Blog{% endblock title %}</title>
    <section class="page-content">
        <!-- PAGE-BANNER START -->
        <div class="page-banner-area photo-4 margin-bottom-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-banner-menu">
                            <h2 class="page-banner-title">Blog</h2>
                            <ul>
                                <li><a href="{% static 'app/index.html' %}">home</a></li>
                                <li>Blog</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGE-BANNER END -->
        <!-- BLOG-AREA START -->
        <div class="blog-area margin-bottom-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-sm-8 col-xs-12">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="single-blog">
                                    <div class="blog-photo">
                                        <a href="#"><img src="{% static 'app/img/blog/2.jpg' %}" alt=""/></a>
                                        <div class="blog-post-date">
                                            <span>13th</span>
                                            <span>Feb</span>
                                        </div>
                                    </div>
                                    <div class="blog-brief">
                                        <p>Lorem ipsum dolr sit amet, It is not simply random text. It has roots...</p>
                                        <div class="like-comment">
                                            <a href="#"><i class="sp-like"></i>120 like</a>
                                            <a href="#"><i class="sp-comment"></i>60 comment</a>
                                        </div>
                                        <a class="shop-now" href="{% static 'app/single-blog.html' %}">Read more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="single-blog">
                                    <div class="blog-photo">
                                        <a href="#"><img src="{% static 'app/img/blog/3.jpg' %}" alt=""/></a>
                                        <div class="blog-post-date">
                                            <span>25th</span>
                                            <span>Feb</span>
                                        </div>
                                    </div>
                                    <div class="blog-brief">
                                        <p>Lorem ipsum dolr sit amet, It is not simply random text. It has roots...</p>
                                        <div class="like-comment">
                                            <a href="#"><i class="sp-like"></i>120 like</a>
                                            <a href="#"><i class="sp-comment"></i>60 comment</a>
                                        </div>
                                        <a class="shop-now" href="{% static 'app/single-blog.html' %}">Read more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="single-blog">
                                    <div class="blog-photo">
                                        <a href="#"><img src="{% static 'app/img/blog/2.jpg' %}" alt=""/></a>
                                        <div class="blog-post-date">
                                            <span>13th</span>
                                            <span>Feb</span>
                                        </div>
                                    </div>
                                    <div class="blog-brief">
                                        <p>Lorem ipsum dolr sit amet, It is not simply random text. It has roots...</p>
                                        <div class="like-comment">
                                            <a href="#"><i class="sp-like"></i>120 like</a>
                                            <a href="#"><i class="sp-comment"></i>60 comment</a>
                                        </div>
                                        <a class="shop-now" href="{% static 'app/single-blog.html' %}">Read more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="single-blog">
                                    <div class="blog-photo">
                                        <a href="#"><img src="{% static 'app/img/blog/3.jpg' %}" alt=""/></a>
                                        <div class="blog-post-date">
                                            <span>25th</span>
                                            <span>Feb</span>
                                        </div>
                                    </div>
                                    <div class="blog-brief">
                                        <p>Lorem ipsum dolr sit amet, It is not simply random text. It has roots...</p>
                                        <div class="like-comment">
                                            <a href="#"><i class="sp-like"></i>120 like</a>
                                            <a href="#"><i class="sp-comment"></i>60 comment</a>
                                        </div>
                                        <a class="shop-now" href="{% static 'app/single-blog.html' %}">Read more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="single-blog">
                                    <div class="blog-photo">
                                        <a href="#"><img src="{% static 'app/img/blog/2.jpg' %}" alt=""/></a>
                                        <div class="blog-post-date">
                                            <span>13th</span>
                                            <span>Feb</span>
                                        </div>
                                    </div>
                                    <div class="blog-brief">
                                        <p>Lorem ipsum dolr sit amet, It is not simply random text. It has roots...</p>
                                        <div class="like-comment">
                                            <a href="#"><i class="sp-like"></i>120 like</a>
                                            <a href="#"><i class="sp-comment"></i>60 comment</a>
                                        </div>
                                        <a class="shop-now" href="{% static 'app/single-blog.html' %}">Read more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="single-blog">
                                    <div class="blog-photo">
                                        <a href="#"><img src="{% static 'app/img/blog/3.jpg' %}" alt=""/></a>
                                        <div class="blog-post-date">
                                            <span>25th</span>
                                            <span>Feb</span>
                                        </div>
                                    </div>
                                    <div class="blog-brief">
                                        <p>Lorem ipsum dolr sit amet, It is not simply random text. It has roots...</p>
                                        <div class="like-comment">
                                            <a href="#"><i class="sp-like"></i>120 like</a>
                                            <a href="#"><i class="sp-comment"></i>60 comment</a>
                                        </div>
                                        <a class="shop-now" href="{% static 'app/single-blog.html' %}">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <!-- widget-brand start -->
                        <aside class="widget widget-brand">
                            <h5 class="sidebar-title">Brand</h5>
                            <ul>
                                <li><input type="checkbox"/><a href="#">Country Road</a></li>
                                <li><input type="checkbox"/><a href="#">H&M Home</a></li>
                                <li><input type="checkbox"/><a href="#">Urban outfitters</a></li>
                                <li><input type="checkbox"/><a href="#">Zara home</a></li>
                            </ul>
                        </aside>
                        <!-- widget-brand end -->
                        <!-- widget-top-brand start -->
                        <aside class="widget top-rated">
                            <h5 class="sidebar-title">top rated</h5>
                            <div class="sidebar-product">
                                <!-- Single-product start -->
                                <div class="single-product">
                                    <div class="product-photo">
                                        <a href="#">
                                            <img class="primary-photo" src="{% static 'app/img/sidebar/1.png' %}"
                                                 alt=""/>
                                        </a>
                                    </div>
                                    <div class="product-brief">
                                        <h2><a href="#">Randomised Words</a></h2>
                                        <h3>$500.00 <span>$244.00</span></h3>
                                    </div>
                                </div>
                                <!-- Single-product end -->
                                <!-- Single-product start -->
                                <div class="single-product">
                                    <div class="product-photo">
                                        <a href="#">
                                            <img class="primary-photo" src="{% static 'app/img/sidebar/2.png' %}"
                                                 alt=""/>
                                        </a>
                                    </div>
                                    <div class="product-brief">
                                        <h2><a href="#">CLEO POURER</a></h2>
                                        <h3>$500.00 <span>$244.00</span></h3>
                                    </div>
                                </div>
                                <!-- Single-product end -->
                                <!-- Single-product start -->
                                <div class="single-product">
                                    <div class="product-photo">
                                        <a href="#">
                                            <img class="primary-photo" src="{% static 'app/img/sidebar/3.png' %}"
                                                 alt=""/>
                                        </a>
                                    </div>
                                    <div class="product-brief">
                                        <h2><a href="#">TAM SPREADER</a></h2>
                                        <h3>$500.00 <span>$244.00</span></h3>
                                    </div>
                                </div>
                                <!-- Single-product end -->
                                <!-- Single-product start -->
                                <div class="single-product">
                                    <div class="product-photo">
                                        <a href="#">
                                            <img class="primary-photo" src="{% static 'app/img/sidebar/4.png' %}"
                                                 alt=""/>
                                        </a>
                                    </div>
                                    <div class="product-brief">
                                        <h2><a href="#">MARCEL THROW</a></h2>
                                        <h3>$500.00 <span>$244.00</span></h3>
                                    </div>
                                </div>
                                <!-- Single-product end -->
                                <!-- Single-product start -->
                                <div class="single-product">
                                    <div class="product-photo">
                                        <a href="#">
                                            <img class="primary-photo" src="{% static 'app/img/sidebar/5.png' %}"
                                                 alt=""/>
                                        </a>
                                    </div>
                                    <div class="product-brief">
                                        <h2><a href="#">RLIE EXTRA SMALL</a></h2>
                                        <h3>$500.00 <span>$244.00</span></h3>
                                    </div>
                                </div>
                                <!-- Single-product end -->
                            </div>
                        </aside>
                        <!-- widget-top-brand end -->
                        <!-- widget sidebar-banner start -->
                        <aside class="widget sidebar-banner margin-mbl">
                            <a href="#"><img src="{% static 'app/img/banner/sidebar-1.jpg' %}" alt=""/></a>
                        </aside>
                        <!-- widget sidebar-banner start -->
                    </div>
                </div>
            </div>
        </div>
        <!-- BLOG-AREA END -->
        <!-- BRAND-LOGO-AREA START -->
        <div class="brand-logo-area margin-bottom-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-12">
                        <div class="brand-brief">
                            <h2 class="border-left-right">they are with us</h2>
                            <p>It is a long established fact that a reader will be distracted by the readable content of
                                a
                                page when looking at its layout. </p>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-12">
                        <div class="brand-logo fix">
                            <div class="single-logo"><img src="{% static 'app/img/brand/1.png' %}" alt=""/>
                            </div>
                            <div class="single-logo"><img src="{% static 'app/img/brand/2.png' %}" alt=""/>
                            </div>
                            <div class="single-logo"><img src="{% static 'app/img/brand/3.png' %}" alt=""/>
                            </div>
                            <div class="single-logo"><img src="{% static 'app/img/brand/4.png' %}" alt=""/>
                            </div>
                            <div class="single-logo"><img src="{% static 'app/img/brand/5.png' %}" alt=""/>
                            </div>
                            <div class="single-logo"><img src="{% static 'app/img/brand/6.png' %}" alt=""/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- BRAND-LOGO-AREA END -->
    </section>
    <!-- PAGE-CONTENT END -->
{% endblock content %}