{% extends 'app/base/base.html' %}
{% load static %}
{% block content %}
    <title>{% block title %}Cart{% endblock title %}</title>
    <section class="page-content">
        <!-- PAGE-BANNER START -->
        <div class="page-banner-area photo-3 margin-bottom-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-banner-menu">
                            <h2 class="page-banner-title">Shopping Cart</h2>
                            <ul>
                                <li><a href="index.html">home</a></li>
                                <li>Shoping Cart</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGE-BANNER END -->
        <!-- SHOPPING-CART-AREA START -->
        <div class="shopping-cart-area margin-bottom-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <form action="#">
                            <div class="table-content table-responsive">
                                <table>
                                    <thead>
                                    <tr>
                                        <th class="product-thumbnail">Image</th>
                                        <th class="product-name">Name</th>
                                        <th class="product-edit">Edit</th>
                                        <th class="product-price">price</th>
                                        <th class="product-quantity">Quantity</th>
                                        <th class="product-subtotal">Subtotal</th>
                                        <th class="product-remove">Remove</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="product-thumbnail"><a href="#"><img
                                                src="{% static 'app/img/cart/1.jpg' %}" alt=""/></a>
                                        </td>
                                        <td class="product-name"><a href="#">BABY NEW STYLE JACKETS</a></td>
                                        <td class="product-edit"><a href="#">Edit</a></td>
                                        <td class="product-price"><span class="amount">$350.00</span></td>
                                        <td class="product-quantity"><input type="text" value="1"/></td>
                                        <td class="product-subtotal">$350.00</td>
                                        <td class="product-remove"><a href="#"><i class="pe-7s-close"></i></a></td>
                                    </tr>
                                    </tbody>
                                    <tbody>
                                    <tr>
                                        <td class="product-thumbnail"><a href="#"><img
                                                src="{% static 'app/img/cart/2.jpg' %}" alt=""/></a>
                                        </td>
                                        <td class="product-name"><a href="#">BABY NEW STYLE JACKETS</a></td>
                                        <td class="product-edit"><a href="#">Edit</a></td>
                                        <td class="product-price"><span class="amount">$350.00</span></td>
                                        <td class="product-quantity"><input type="text" value="1"/></td>
                                        <td class="product-subtotal">$350.00</td>
                                        <td class="product-remove"><a href="#"><i class="pe-7s-close"></i></a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="coupon">
                                        <input type="submit" value="update cart"/>
                                        <span>do you have coupon code</span>
                                        <input type="text"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-md-offset-7">
                                    <div class="cart-totals">
                                        <h2>Total</h2>
                                        <div class="table-cart table-responsive">
                                            <table>
                                                <tbody class="cart-totals-list">
                                                <tr>
                                                    <th>Subtotal</th>
                                                    <td>$700.00</td>
                                                </tr>
                                                <tr>
                                                    <th>Discount</th>
                                                    <td><span>no discount or coupon code</span></td>
                                                </tr>
                                                <tr>
                                                    <th>Shipping</th>
                                                    <td><p>free shipping</p></td>
                                                </tr>
                                                <tr class="cart-total">
                                                    <th>Total</th>
                                                    <td>$700.00</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <div class="we-proceed-to-checkout">
                                                <a href="#">proceed to chackout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- SHOPPING-CART-AREA END -->
        <!-- BRAND-LOGO-AREA START -->
        <div class="brand-logo-area margin-bottom-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-12">
                        <div class="brand-brief">
                            <h2 class="border-left-right">they are with us</h2>
                            <p>It is a long established fact that a reader will be distracted by the readable content of
                                a page when looking at its layout. </p>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-12">
                        <div class="brand-logo fix">
                            <div class="single-logo">
                                <img src="{% static 'app/img/brand/1.png' %}" alt=""/>
                            </div>
                            <div class="single-logo">
                                <img src="{% static 'app/img/brand/2.png' %}" alt=""/>
                            </div>
                            <div class="single-logo">
                                <img src="{% static 'app/img/brand/3.png' %}" alt=""/>
                            </div>
                            <div class="single-logo">
                                <img src="{% static 'app/img/brand/4.png' %}" alt=""/>
                            </div>
                            <div class="single-logo">
                                <img src="{% static 'app/img/brand/5.png' %}" alt=""/>
                            </div>
                            <div class="single-logo">
                                <img src="{% static 'app/img/brand/6.png' %}" alt=""/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}