{% extends 'app/base/base.html' %}
{% load static %}
{% block content %}
    <title>{% block title %}Checkout{% endblock title %}</title>
    <section class="page-content">
        <!-- PAGE-BANNER START -->
        <div class="page-banner-area photo-4 margin-bottom-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-banner-menu">
                            <h2 class="page-banner-title">Checkout</h2>
                            <ul>
                                <li><a href="index.html">home</a></li>
                                <li>Checkout</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGE-BANNER END -->
        <!-- CHECKOUT-AREA START -->
        <div class="checkout-area margin-bottom-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title-6 margin-bottom-50">Checkout</h3>
                    </div>
                </div>
                <div class="coupon-area">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="coupon-accordion">
                                <!-- ACCORDION START -->
                                <h3>Returning customer? <span id="showlogin">Click here to login</span></h3>
                                <div id="checkout-login" class="coupon-content">
                                    <div class="coupon-info">
                                        <p class="coupon-text">Quisque gravida turpis sit amet nulla posuere lacinia.
                                            Cras sed est sit amet ipsum luctus.</p>
                                        <form action="#">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p class="form-row-first">
                                                        <label>Username or email <span class="required">*</span></label>
                                                        <input type="text"/>
                                                    </p>
                                                </div>
                                                <div class="col-md-6">
                                                    <p class="form-row-last">
                                                        <label>Password <span class="required">*</span></label>
                                                        <input type="password"/>
                                                    </p>
                                                </div>
                                            </div>
                                            <p class="form-row">
                                                <input type="submit" value="Login"/>
                                                <label>
                                                    <input type="radio"/>
                                                    Remember me
                                                </label>
                                            </p>
                                            <p class="lost-password">
                                                <a href="#">Lost your password?</a>
                                            </p>
                                        </form>
                                    </div>
                                </div>
                                <!-- ACCORDION END -->
                                <!-- Genaral Login start -->
                                <div class="coupon-info margin-bottom-50">
                                    <p class="coupon-text margin-bottom-50">If you have shopped with us before, please
                                        enter your details in the boxes below. If you are a new customer please proceed
                                        to the Billing & Shipping section.</p>
                                    <form action="#">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p class="form-row-first">
                                                    <label>Username or email <span class="required">*</span></label>
                                                    <input type="text"/>
                                                </p>
                                            </div>
                                            <div class="col-md-6">
                                                <p class="form-row-last">
                                                    <label>Password <span class="required">*</span></label>
                                                    <input type="password"/>
                                                </p>
                                            </div>
                                        </div>
                                        <p class="form-row">
                                            <input type="submit" value="Login"/>
                                            <label>
                                                <input type="radio"/>
                                                Remember me
                                            </label>
                                        </p>
                                        <p class="lost-password">
                                            <a href="#">Lost your password?</a>
                                        </p>
                                    </form>
                                </div>
                                <!-- Genaral Login end -->
                                <!-- ACCORDION START -->
                                <h3>Have a coupon? <span id="showcoupon">Click here to enter your code</span></h3>
                                <div id="checkout_coupon" class="coupon-checkout-content">
                                    <div class="coupon-info">
                                        <form action="#">
                                            <p class="checkout-coupon">
                                                <input type="text" placeholder="Coupon code"/>
                                                <input type="submit" value="Apply Coupon"/>
                                            </p>
                                        </form>
                                    </div>
                                </div>
                                <!-- ACCORDION END -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Checkout-Billing-details and order start -->
                <div class="checkout-bill-order">
                    <form action="#">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="checkout-bill">
                                    <h3 class="title-7 margin-bottom-50">Billing Details</h3>
                                </div>
                                <div class="row coupon-info">
                                    <div class="col-md-6">
                                        <p class="form-row-first">
                                            <label>Username or email <span class="required">*</span></label>
                                            <input type="text"/>
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="form-row-last">
                                            <label>Password <span class="required">*</span></label>
                                            <input type="password"/>
                                        </p>
                                    </div>
                                </div>
                                <div class="row coupon-info">
                                    <div class="col-md-12">
                                        <p class="form-row-first">
                                            <label>Company Name </label>
                                            <input type="text"/>
                                        </p>
                                    </div>
                                </div>
                                <div class="row coupon-info">
                                    <div class="col-md-6">
                                        <p class="form-row-first">
                                            <label>Email Address <span class="required">*</span></label>
                                            <input type="text"/>
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="form-row-last">
                                            <label>Phone <span class="required">*</span></label>
                                            <input type="text"/>
                                        </p>
                                    </div>
                                </div>
                                <div class="row coupon-info">
                                    <div class="col-md-12">
                                        <p class="form-row-first">
                                            <label>Country </label>
                                            <input type="text" placeholder="United states (US)"/>
                                        </p>
                                    </div>
                                </div>
                                <div class="row coupon-info">
                                    <div class="col-md-12">
                                        <p class="form-row-first">
                                            <label>Address </label>
                                            <input type="text" placeholder="Street address"/>
                                            <input type="text" placeholder="Site, Unite etc (optional)"/>
                                        </p>
                                    </div>
                                </div>
                                <div class="row coupon-info">
                                    <div class="col-md-12">
                                        <p class="form-row-first">
                                            <label>Town / City </label>
                                            <input type="text" placeholder="United states (US)"/>
                                        </p>
                                    </div>
                                </div>
                                <div class="row coupon-info">
                                    <div class="col-md-6">
                                        <p class="form-row-first">
                                            <label>State <span class="required">*</span></label>
                                            <input type="text"/>
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="form-row-last">
                                            <label>Zip <span class="required">*</span></label>
                                            <input type="text"/>
                                        </p>
                                    </div>
                                </div>
                                <div class="new-account-create">
                                    <h4 class="title-8">Create Account</h4>
                                    <label>
                                        <input type="checkbox" checked="checked"/>
                                        <span>Create an account by entering the information below. </span>
                                    </label>
                                    <label>
                                        <span>If you are a returning customer please login at the top of the page.</span>
                                    </label>
                                </div>
                                <div class="row coupon-info">
                                    <div class="col-md-12">
                                        <p class="form-row-first">
                                            <label>Account Password </label>
                                            <input type="password"/>
                                        </p>
                                    </div>
                                </div>
                                <h4 class="title-8">Ship to a different address <input type="checkbox"
                                                                                       checked="checked"/></h4>
                                <div class="row coupon-info">
                                    <div class="col-md-6">
                                        <p class="form-row-first">
                                            <label>Username or email <span class="required">*</span></label>
                                            <input type="text"/>
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="form-row-last">
                                            <label>Password <span class="required">*</span></label>
                                            <input type="password"/>
                                        </p>
                                    </div>
                                </div>
                                <div class="row coupon-info">
                                    <div class="col-md-12">
                                        <p class="form-row-first">
                                            <label>Company Name </label>
                                            <input type="text"/>
                                        </p>
                                    </div>
                                </div>
                                <div class="row coupon-info">
                                    <div class="col-md-6">
                                        <p class="form-row-first">
                                            <label>Email Address <span class="required">*</span></label>
                                            <input type="text"/>
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="form-row-last">
                                            <label>Phone <span class="required">*</span></label>
                                            <input type="text"/>
                                        </p>
                                    </div>
                                </div>
                                <div class="row coupon-info">
                                    <div class="col-md-12">
                                        <p class="form-row-first">
                                            <label>Country </label>
                                            <input type="text" placeholder="United states (US)"/>
                                        </p>
                                    </div>
                                </div>
                                <div class="row coupon-info">
                                    <div class="col-md-12">
                                        <p class="form-row-first">
                                            <label>Address </label>
                                            <input type="text" placeholder="Street address"/>
                                            <input type="text" placeholder="Site, Unite etc (optional)"/>
                                        </p>
                                    </div>
                                </div>
                                <div class="row coupon-info">
                                    <div class="col-md-12">
                                        <p class="form-row-first">
                                            <label>Town / City </label>
                                            <input type="text" placeholder="United states (US)"/>
                                        </p>
                                    </div>
                                </div>
                                <div class="row coupon-info">
                                    <div class="col-md-6">
                                        <p class="form-row-first">
                                            <label>State <span class="required">*</span></label>
                                            <input type="text"/>
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="form-row-last">
                                            <label>Zip <span class="required">*</span></label>
                                            <input type="text"/>
                                        </p>
                                    </div>
                                </div>
                                <div class="row coupon-info">
                                    <div class="col-md-12">
                                        <p class="form-row-first">
                                            <label>Additoional Information</label>
                                            <textarea></textarea>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="your-order">
                                    <h3 class="title-7 margin-bottom-50">Your Order</h3>
                                    <div class="your-order-table table-responsive">
                                        <table>
                                            <thead>
                                            <tr>
                                                <th class="product-name">Product</th>
                                                <th class="product-total">Total</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td class="product-name">Lorem Ipsum comes (1)</td>
                                                <td class="product-total">$499.00</td>
                                            </tr>
                                            <tr>
                                                <td class="product-name">Extremes of Good (3)</td>
                                                <td class="product-total">$559.00</td>
                                            </tr>
                                            <tr>
                                                <td class="product-name">Lorem Ipsum comes (1)</td>
                                                <td class="product-total">$320.00</td>
                                            </tr>
                                            <tr class="shipping">
                                                <th>Shipping</th>
                                                <td>
                                                    <ul>
                                                        <li>
                                                            <input type="checkbox" id="1">
                                                            <label for="1">
                                                                Free Shipping
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" id="2">
                                                            <label for="2">
                                                                Flat Rate <span class="amount">$120.00</span>
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" id="3">
                                                            <label for="3">
                                                                International Delivery
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="product-name order-total">Order Total</td>
                                                <td class="product-total order-total">$1378.00</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div class="payment-method">
                                            <div class="payment-accordion">
                                                <!-- ACCORDION START -->
                                                <h3 class="payment-accordion-toggle active">Direct Bank Transfer</h3>
                                                <div class="payment-content default">
                                                    <p>Make your payment directly into our bank account. Please use your
                                                        Order ID as the payment reference. Your order won’t be shipped
                                                        until the funds have cleared in our account.</p>
                                                </div>
                                                <!-- ACCORDION END -->
                                                <!-- ACCORDION START -->
                                                <h3 class="payment-accordion-toggle">Cheque Payment</h3>
                                                <div class="payment-content">
                                                    <p>Please send your cheque to Store Name, Store Street, Store Town,
                                                        Store State / County, Store Postcode.</p>
                                                </div>
                                                <!-- ACCORDION END -->
                                                <!-- ACCORDION START -->
                                                <h3 class="payment-accordion-toggle">PayPal</h3>
                                                <div class="payment-content">
                                                    <p>Pay via PayPal; you can pay with your credit card if you don’t
                                                        have a PayPal account.</p>
                                                    <a href="#"><img src="{% static 'app/img/bg/payment.png' %}"
                                                                     alt=""/></a>
                                                </div>
                                                <!-- ACCORDION END -->
                                            </div>
                                            <div class="order-button-payment">
                                                <input type="submit" value="Place order"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Checkout-Billing-details and order end -->
            </div>
        </div>
        <!-- CHECKOUT-AREA END -->
        <!-- BRAND-LOGO-AREA START -->
        <div class="brand-logo-area margin-bottom-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-12">
                        <div class="brand-brief">
                            <h2 class="border-left-right">they are with us</h2>
                            <p>It is a long established fact that a reader will be distracted by the readable content of
                                a page when looking at its layout. </p>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-12">
                        <div class="brand-logo fix">
                            <div class="single-logo">
                                <img src="{% static 'app/img/brand/1.png' %}" alt=""/>
                            </div>
                            <div class="single-logo">
                                <img src="{% static 'app/img/brand/2.png' %}" alt=""/>
                            </div>
                            <div class="single-logo">
                                <img src="{% static 'app/img/brand/3.png' %}" alt=""/>
                            </div>
                            <div class="single-logo">
                                <img src="{% static 'app/img/brand/4.png' %}" alt=""/>
                            </div>
                            <div class="single-logo">
                                <img src="{% static 'app/img/brand/5.png' %}" alt=""/>
                            </div>
                            <div class="single-logo">
                                <img src="{% static 'app/img/brand/6.png' %}" alt=""/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- BRAND-LOGO-AREA END -->
    </section>
{% endblock content %}
