{% extends 'app/base/base.html' %}
{% block content %}
    {% load static %}
    <!doctype html>
    <section class="page-content">
        <!-- PAGE-BANNER START -->
        <div class="page-banner-area  margin-bottom-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-banner-menu">
                            <h2 class="page-banner-title">Login</h2>
                            <ul>
                                <li><a href="index.html">home</a></li>
                                <li>Login</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGE-BANNER END -->
        <!-- LOGIN-AREA START -->
        <div class="lognin-area">
            <div class="container">
                <div class="row">
                    <!-- Registered-Customers Start -->
                    <div class="col-md-6">
                        <form action="#">
                            <div class="registered-customers">
                                <h2 class="login-title">REGISTERED CUSTOMERS</h2>
                                <div class="registered">
                                    <p>If you have an account with us, Please log in.</p>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="text" class="custom-form" name="email"
                                                   placeholder="Email Address"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="password" class="custom-form" placeholder="Password"/>
                                        </div>
                                    </div>
                                    <p><label class="forgot"><a href="#">Forgot your password?</a></label></p>
                                    <input type="submit" class="custom-submit-2" value="login"/>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- Registered-Customers End -->
                    <div class="brand-logo-area margin-bottom-80">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-5 col-sm-12">
                                    <div class="brand-brief">
                                        <h2 class="border-left-right">they are with us</h2>
                                        <p>It is a long established fact that a reader will be distracted by the
                                            readable content of a page when looking at its layout. </p>
                                    </div>
                                </div>
                                <div class="col-md-7 col-sm-12">
                                    <div class="brand-logo fix">
                                        <div class="single-logo">
                                            <img src="{% static 'app/img/brand/1.png' %}" alt=""/>
                                        </div>
                                        <div class="single-logo">
                                            <img src="{% static 'app/img/brand/2.png' %}" alt=""/>
                                        </div>
                                        <div class="single-logo">
                                            <img src="{% static 'app/img/brand/3.png' %}" alt=""/>
                                        </div>
                                        <div class="single-logo">
                                            <img src="{% static 'app/img/brand/4.png' %}" alt=""/>
                                        </div>
                                        <div class="single-logo">
                                            <img src="{% static 'app/img/brand/5.png' %}" alt=""/>
                                        </div>
                                        <div class="single-logo">
                                            <img src="{% static 'app/img/brand/6.png' %}" alt=""/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- BRAND-LOGO-AREA END -->
    </section>


{% endblock content %}