{% extends 'app/base/base.html' %}
{% load static %}
{% block content %}
    <title>{% block title %}Wish List{% endblock title %}</title>
<section class="page-content">
			<!-- PAGE-BANNER START -->
			<div class="page-banner-area photo-3 margin-bottom-80">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="page-banner-menu">
								<h2 class="page-banner-title">Wishlist</h2>
								<ul>
									<li><a href="index.html">home</a></li>
									<li>Wishlist</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- PAGE-BANNER END -->
			<!-- WISHLIST-AREA START -->
			<div class="shopping-cart-area wishlist-area">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<form action="#">
								<div class="table-content wishlist-table table-responsive">
									<table>
										<thead>
											<tr>
												<th class="product-remove">Remove</th>
												<th class="product-thumbnail">Image</th>
												<th class="product-name">Name</th>
												<th class="product-edit">Edit</th>
												<th class="product-price">price</th>
												<th class="product-quantity">Quantity</th>
												<th class="product-add-to-cart">Add to Cart</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="product-remove"><a href="#"><i class="pe-7s-close"></i></a></td>
												<td class="product-thumbnail"><a href="#"><img src="{% static 'app/img/cart/1.jpg' %}" alt="" /></a></td>
												<td class="product-name"><a href="#">BABY NEW STYLE JACKETS</a></td>
												<td class="product-edit"><a href="#">Edit</a></td>
												<td class="product-price"><span class="amount">$350.00</span></td>
												<td class="product-quantity"><input type="text" value="1" /></td>
												<td class="product-add-to-cart"><a href="#">Add to Cart</a></td>
											</tr>
										</tbody>
										<tbody>
											<tr>
												<td class="product-remove"><a href="#"><i class="pe-7s-close"></i></a></td>
												<td class="product-thumbnail"><a href="#"><img src="{% static 'app/img/cart/2.jpg' %}" alt="" /></a></td>
												<td class="product-name"><a href="#">BABY NEW STYLE JACKETS</a></td>
												<td class="product-edit"><a href="#">Edit</a></td>
												<td class="product-price"><span class="amount">$350.00</span></td>
												<td class="product-quantity"><input type="text" value="1" /></td>
												<td class="product-add-to-cart"><a href="#">Add to Cart</a></td>
											</tr>
										</tbody>
										<tbody>
											<tr>
												<td class="product-remove"><a href="#"><i class="pe-7s-close"></i></a></td>
												<td class="product-thumbnail"><a href="#"><img src="{% static 'app/img/cart/3.jpg' %}" alt="" /></a></td>
												<td class="product-name"><a href="#">BABY NEW STYLE JACKETS</a></td>
												<td class="product-edit"><a href="#">Edit</a></td>
												<td class="product-price"><span class="amount">$350.00</span></td>
												<td class="product-quantity"><input type="text" value="1" /></td>
												<td class="product-add-to-cart"><a href="#">Add to Cart</a></td>
											</tr>
										</tbody>
									</table>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- WISHLIST-AREA END -->
			<!-- BRAND-LOGO-AREA START -->
			<div class="brand-logo-area margin-bottom-80">
				<div class="container">
					<div class="row">
						<div class="col-md-5">
							<div class="brand-brief">
								<h2>they are with us</h2>
								<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
							</div>
						</div>
						<div class="col-md-7">
							<div class="brand-logo fix">
								<div class="single-logo">
									<img src="{% static 'app/img/brand/1.png' %}" alt="" />
								</div>
								<div class="single-logo">
									<img src="{% static 'app/img/brand/2.png' %}" alt="" />
								</div>
								<div class="single-logo">
									<img src="{% static 'app/img/brand/3.png' %}" alt="" />
								</div>
								<div class="single-logo">
									<img src="{% static 'app/img/brand/4.png' %}" alt="" />
								</div>
								<div class="single-logo">
									<img src="{% static 'app/img/brand/5.png' %}" alt="" />
								</div>
								<div class="single-logo">
									<img src="{% static 'app/img/brand/6.png' %}" alt="" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- BRAND-LOGO-AREA END -->
		</section>
		{% endblock content %}
